.app{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.bg{
  background-color: #eff1f3;
}

/*Used for styling coin cards*/

.cryptoContainer{
  background-color: white;
}

.coinImg{
  max-width: 50px;
  height: auto;
}

.textBold{
  font-weight: bold;
}

.textCenter{
  align-self: center;
}

.textRed{
  color:rgb(194, 33, 33);
}

.textGreen{
  color: rgb(17, 179, 17);
}

/* Nav Styling*/
.navbar{
  background-color: white;
  font-size: 20px;
}


/*Footer Styling*/

.footer {
  text-align: center;
  margin-top: auto;
  padding: 8px;
  background-color: white;
  margin-top: auto;
  padding: 35px;
  font-weight: bold;
  font-size: 20px;
}

.blueColor{
  color: #004aad;
}