.App {
  text-align: center;
  overflow: hidden;
}

.test{
  color: red;
}

/*Used for styling coin cards*/

.coinImg{
  max-width: 50px;
  height: auto;
}

.textBold{
  font-weight: bold;
}

.textCenter{
  align-self: center;
}

.textRight{
  text-align: right;
}