.app{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.bg{
  background-color: #eff1f3;
}

/*Used for styling coin cards*/

.cryptoContainer{
  background-color: white;
}

.coinImg{
  max-width: 50px;
  height: auto;
}

.textBold{
  font-weight: bold;
}

.textCenter{
  align-self: center;
}

.textRed{
  color:rgb(194, 33, 33);
}

.textGreen{
  color: rgb(17, 179, 17);
}

/* Nav Styling*/
.navbar{
  background-color: white;
  font-size: 20px;
}


/*Footer Styling*/

.footer {
  text-align: center;
  margin-top: auto;
  padding: 8px;
  background-color: white;
  margin-top: auto;
  padding: 35px;
  font-weight: bold;
  font-size: 20px;
}

.blueColor{
  color: #004aad;
}

/*Styling coin search Page*/
.coinInfoFlex{
  display: flex;
  justify-content: space-around;
}

.coinHeading{
 display: flex;
 align-items: center;
}

.coinHeading h3{
  font-weight: bold;
  font-size: 30px;
  margin-right: 9px;
  margin-top: 20px;
}

.coinHeading img{
  margin-right: 8px;
  max-width: 30px;
  height: auto;
}

.coinSymbol{
  font-size: 20px;
  font-weight: 400;
}

.coinPrice{
  font-weight: bold;
  font-size: 30px;
}

.dailyChange{
  font-size: 20px; 
}

.marketInfo p{
  font-weight: bold;
  font-size: 20px;
}

.marketData{
  font-weight: 400;
}